@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  @apply text-gray-100 hover:text-sky-500 transition duration-300;
}

* {
  box-sizing: border-box;
}

.Toastify__toast--error {
  @apply bg-cerise-600 text-2xl;
}
.Toastify__toast-body div div {
  @apply text-lg !important;
}
.Toastify__close-button {
  padding-top: 0.2em;
  padding-right: 0.25em;
}
